/* To change this license header, choose License Headers in Project Properties. To change this template file, choose Tools | Templates and open the template in the editor. */
/* Created on : Feb 4, 2020, 10:10:53 AM Author : jk543753 */
$font-stack: 'Montserrat', sans-serif;
$primary-color: #03256C;
$secondary-color: #283044;
$tertiary-color: #78A1bb;
.jumbotron{
    background: #000000 url(images/mathwiz.gif) 10% 30% no-repeat;
    color: white;
    font-size: 1.5em;
  }
  body{
    margin: 0;
    padding: 0;
    font: $font-stack;
  }
  nav {
    position: relative;
    padding: 10px;
    box-shadow: 0 0 10px #111;
    border: 30px solid;
    background: #00206c;
    opacity: 0.9;
    -webkit-border-image: url(images/border.png) 30 30 round;
    -o-border-image: url(images/border.png) 30 30 round;
    border-image: url(images/border.png) 30 30 round;
    height: auto;
  }
  .navstyle{
    border-top-left-radius: 50% 20%;
    border-top-right-radius: 50% 20%;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
  }
  #nav ul a {
    display: block;
    color: #a59378;
    text-shadow: 0 2px 0 #000;
    width: 100%;
    height: calc(100% - 15px);
    padding-top: 15px;
  }
  main {
    padding: 20px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $primary-color;
  }
  li {
    float: left;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #000000;
    color: white;
    text-decoration: none;
  }
  footer {
    padding-top: 1.5em;
  }
  .users img{
    width: 25%;
    border-radius: 50%;
  }

  .table {
    background-color: #fff;
  }
  table {
    width: 100%;
  }
  th, td {
    font-weight: unset;
    padding-right: 10px;
  }
  .table-body td {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .bigbutton {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #03256C;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #78A1BB;
  }
  .bigbutton:hover {
   background-color: #03256C
  }
  .bigbutton:active {
    background-color: #03256C;
    box-shadow: 0 5px #78A1BB;
    transform: translateY(4px);
  }
  .button {
    background-color: #03256C;
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .error{
    color: red;
    font-weight: bold;
  }
  .loginbody{
    background: url(loginbg.jpg) no-repeat;
    background-size: cover;
  }
  .box{
    width: 300px;
    padding: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: none;
    text-align: center;
  }
  .box h1{
    color: white;
    font-weight: 500;
  }
  .box input[type = "text"],.box input[type = "password"]{
    border: 0;
    background: white;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #03256C;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 25px;
    transition: 0.25s;
  }
  .box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 300px;
    border-color: #494884;
  }
  .box input[type = "submit"]{
    font-family: "montserrat", sans-serif;
    border: 0;
    background: white;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #03256C;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 25px;
    transition: 0.25s;
    cursor: pointer;
  }
  .box input[type = "submit"]:hover{
    background: #78a1bb;
  }
  .top{
    position: absolute;
    top: 20%;
    left: 10%;
    transform: translate(-50%,-50%);
  }
  .loginbar{
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: $tertiary-color;
    z-index: 500;
  }
  .profilepic{
    width: 100%;
    height: 100%;
  }
  .addimage{
    position: relative;
    padding: 10px;
    box-shadow: 0 0 10px #111;
    border: 30px solid;
    color:white;
    background: #00206c;
    opacity: 0.9;
    -webkit-border-image: url(./images/border.png) 30 30 round;
    -o-border-image: url(./images/border.png) 30 30 round;
    border-image: url(./images/border.png) 30 30 round;
    height: auto;
  }
  .JulietSprite-user1_sm, .JulietSprite-user2_sm {
    max-width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    display: block;
    background-image: url('images/JulietSprite.png');
  }
  .JulietSprite-user1_sm {
    background-position: 0 0%;
    background-size: 100%;
  }
  .JulietSprite-user2_sm {
    background-position: 0 100%;
    background-size: 100%;
  }
  
  .emp{
    font-size: 1.2em;
    font-weight: bold;
  }

  #top-directory{
    font-weight: bold;
    font-size:  2em;
    background-color: $primary-color;
    text-align: center;
  }

  #body-directory{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: black;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: black;
  }